<div class="max-w-3xl mx-auto text-center">
  <h1 class="text-3xl font-bold text-gray-800 mb-2">Sign Up for Brk Race</h1>

  <div class="bg-white p-8 rounded-xl shadow-lg border border-gray-200">
    <%= form_with(model: @participant, local: true, class: "space-y-4") do |form| %>

      <div>
        <%= form.label :name, class: "block text-sm font-medium text-gray-700 text-left" %>
        <%= form.text_field :name, required: true, class: "w-full mt-1 px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <div>
        <%= form.label :surname, class: "block text-sm font-medium text-gray-700 text-left" %>
        <%= form.text_field :surname, required: true, class: "w-full mt-1 px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <div>
        <%= form.label :email, class: "block text-sm font-medium text-gray-700 text-left" %>
        <%= form.email_field :email, required: true, class: "w-full mt-1 px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <div>
        <%= form.label :phone, class: "block text-sm font-medium text-gray-700 text-left" %>
        <%= form.telephone_field :phone, required: true, class: "w-full mt-1 px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <div class="text-center">
        <%= form.submit "Sign Up", class: "w-full bg-green-800 hover:bg-blue-700 text-white font-semibold py-3 rounded-lg transition duration-300 shadow-lg" %>
      </div>

    <% end %>
  </div>
</div>
