<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "BRK Race Signup" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= favicon_link_tag "snopljak_clear.png" %>

  <script src="https://cdn.tailwindcss.com"></script>

  <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>


</head>


  <body>
  <header class="bg-white shadow-sm py-4">
    <%= image_tag "snopljak1.png", alt: "Trek Up Logo", class: "mx-auto h-20" %>
  </header>
  <% if user_signed_in? %>
    <div class="absolute top-4 right-4">
      <%= link_to "Logout", destroy_user_session_path, method: :delete,
                  class: "text-sm bg-gray-800 hover:bg-gray-700 text-white px-4 py-2 rounded-md shadow transition" %>
    </div>
  <% end %>
    <main class="container mx-auto mt-10 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
