<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "BRK Race Signup" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= favicon_link_tag "snopljak_clear.png" %>

  <script src="https://cdn.tailwindcss.com"></script>

  <%= stylesheet_link_tag :"application.tailwind", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", defer: true %>
</head>


  <body>
  <header class="bg-white shadow-sm py-4">
    <%= image_tag "snopljak1.png", alt: "Trek Up Logo", class: "mx-auto h-20" %>
  </header>
    <main class="container mx-auto mt-10 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
